.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
<<<<<<< HEAD
=======
    gap: 20px;
>>>>>>> 4a5753784865fc6babd25709278a2bc502da9071

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
<<<<<<< HEAD
    }
  }
}
=======
      
    }
  }
}
>>>>>>> 4a5753784865fc6babd25709278a2bc502da9071
