body {
  margin: 0;
<<<<<<< HEAD
  font-family: 'Open Sans Condensed', sans-serif;
=======
  padding: 20px 40px;
  font-family: 'Oswald', sans-serif;
>>>>>>> 4a5753784865fc6babd25709278a2bc502da9071
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
<<<<<<< HEAD
}
=======
}
>>>>>>> 4a5753784865fc6babd25709278a2bc502da9071
